<html  ng-app='myApp'>
<head></head>
<body>
	<div>
		<div  ng-controller="FirstCtrl">
			 Fruits List 
			 <hr>
			 <ul>
			 <li ng-repeat="eachFruit in fruits">{{eachFruit}}</li>
			 <ul>
		</div> <br/>
		<div ng-controller="GreetingsCtrl">
			<input type="text" ng-model="greetingModel"></input>
			See what i entered in the input box here :::   {{greetingModel}}
		</div>
		
		
	</div>
<!-- Include Scripts from here -->
<script src="angular.min.js"></script>
<script src="app.js"></script> 
</body>
</html>
